{% extends 'base.html' %}

{% block body %}
    <div class="back-tree">
	   	<div class="top">
	   		<a href="" class="TopLeft">О нас</a>
	   		<a href="" class="TopLeft">Правила</a>
	   		<a href="{% url 'home' %}"><img src="img/top/logo.png" class="topImg"></a>
            <a href="{% url 'login' %}" class="TopRight">Вход</a>
   		    <a href="{% url 'register' %}" class="TopRight">Регистрация</a>
	   	</div>


	    <div class="avtor">
            <form>
                <h1>Вход на сайт</h1>
                    <form action="{% url 'login' %}" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit">Войти!</button>
                    </form>
            </form>
		</div>




	   <footer>
		    <p>По всем вопросам обращаться:<br>Shizo1o1@yandex.ru</p>
		    <a href="#instagram.com">
		      <img src="img/footer/inst.png">
		    </a>
		    <a href="#YT.com">
		      <img src="img/footer/YT.png">
		    </a>
		    <img id="shizo" src="img/footer/shizo.png">
	  	</footer>
	</div>

{% endblock %}