{% extends 'base.html' %}

{% block body %}

<div class="back-tree">
   	<div class="top">
   		<a href="" class="TopLeft">О нас</a>
   		<a href="" class="TopLeft">Правила</a>
   		<a href="{% url 'home' %}"><img src="img/top/logo.png" class="topImg"></a>
        <a href="{% url 'login' %}" class="TopRight">Вход</a>
   		<a href="{% url 'register' %}" class="TopRight">Регистрация</a>
   	</div>


      <div class="register">
            <h1>Регистрация</h1>
        {% if message %}
            <div style="color:red;">{{message}}</div>
        {% endif %}

        <form action="{% url 'register' %}" method="post">
            {% csrf_token %}

            Username: <input type="test" name="username" placeholder="name"><br>
            Fullname: <input type="test" name="fullname" placeholder="fullname"><br>
            Email: <input type="email" name="email" placeholder="example@example.com"><br>
            Password: <input type="password" name="password" placeholder="password"><br>
            Password again:<input type="password" name="password2" placeholder="password"><br>
            <button type="submit">Зарегистрироваться!</button>
        </form>
      </div>




     <footer>
        <p>По всем вопросам обращаться:<br>Shizo1o1@yandex.ru</p>
        <a href="#instagram.com">
          <img src="img/footer/inst.png">
        </a>
        <a href="#YT.com">
          <img src="img/footer/YT.png">
        </a>
        <img id="shizo" src="img/footer/shizo.png">
     </footer>
  </div>

{% endblock %}