{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="{% static 'js/JJavaScript.js' %}"></script>
    <script src="{% static 'js/bootstrap/bootstrap.min.css' %}"></script>
    <script src="{% static 'js/bootstrap/bootstrap-grid.min.css' %}"></script>
    <script src="{% static 'js/bootstrap/bootstrap-reboot.min.css' %}"></script>

    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap/bootstrap.bundle.min.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <!--<link rel="shortcut icon" href="logo.png" type="image/x-icon">-->
    <title>Events</title>
</head>
<body>
    {% block body %}
    {% endblock %}
</body>
</html>