{% extends 'base.html' %}

{% block body %}
  <!--<div class="form">-->
    <!--<form>-->
      <!--<p id="exit">X</p>-->
      <!--<p>Введите ваше Имя:</p>-->

      <!--<input type="text" id="name">-->
      <!--<p>Текст сообщения:</p>-->
      <!--<input type="text" id="massage">-->
      <!--<button id="send">Отправить</button>-->
    <!--</form>-->
  <!--</div>-->
  <!--<button id="call"></button>-->
  
  <div class="back-tree">
   <header>
   		<div class="top">
   			<a href="#" class="TopLeft">О нас</a>
   			<a href="#" class="TopLeft">Правила</a>
   			<a href="{% url 'home' %}"><img src="img/top/logo.png" class="topImg"></a>
   			<a href="{% url 'login' %}" class="TopRight">Вход</a>
   			<a href="{% url 'register' %}" class="TopRight">Регистрация</a>
   		</div>
   		<div class="BorderContent">
   			<h1>Создай свой уникальный Event!</h1>
   			<h2>На который могут откликнуться люди и Вас поддержать</h2>
   			<p onmouseover="counter(this)">Активных Event'ов:0</p>
   			<a href=""><button class="centrButton">Создать EVENT</button></a>
   			<p onmouseover="counter1(this)">Проведенных Event'ов:0</p>
   		</div>
   </header>

   <div id="Content">
      <a href=""><div class="block">
        <img src="img/content/sobr.jpg">
        <h3>Конференция</h3>
        <h4>Дата проведения: 13 ноября</h4>
        <h4>Место проведения: КГТУ им.Раззакова ауд.1/325</h4>
      </div></a>
   	
   		<a href=""><div class="block">
        <img src="img/content/color.jpg">
        <h3>Color Fest</h3>
        <h4>Дата проведения: 10 октября</h4>
        <h4>Место проведения: парк "Ата-Тюрк"</h4>
      </div></a>

   		<a href=""><div class="block">
        <img src="img/content/flash.jpg">
        <h3>Посвящение</h3>
        <h4>Дата проведения: 15 ноября</h4>
        <h4>Место проведения: площадь г.Бишкек</h4>
      </div></a>

        <a href=""><div class="block">
        <img src="img/content/disco.jpg">
        <h3>Посвящение</h3>
        <h4>Дата проведения: 18 октября</h4>
        <h4>Место проведения: клуб "Кремль"</h4>
      </div></a>
   </div>
   
    <footer>
      <p>По всем вопросам обращаться:<br>Shizo1o1@yandex.ru</p>

      <a href="#instagram.com">
        <img src="img/footer/inst.png">  
      </a>
      <a href="#YT.com">
        <img src="img/footer/YT.png">
      </a>
      <img id="shizo" src="img/footer/shizo.png">

      <div id="timeBlock">
        <div id="text">
         <video id="vid" width="500px" height="500px">
           <source src="video.mp4" type="video/mp4">
         </video>
        </div>
        <div id="timer">9</div>
      </div>
      
    </footer>
  </div>
{% endblock %}