body{
	text-decoration: none;
	font-family: "Segeo UI", sans-serif;
}
header{
	background-image:url(img/back/back1.jpg);
	background-size: 100% 100%;
	/*filter: blur(2px);*/
	width: 100%;
	height: 550px;
	box-shadow: 0px 12px 18px rgba(0,0,0,0.5);
}

a:active{color: #de52ce;}
a:hover{
	color: #f2f2f2;
	text-shadow:  2px 1px 2px black, 0 0 1em grey;
}
::selection { background: black; color: #fff }

input{
	outline: none;
}
input:focus{
	border-color: ;
	box-shadow: rgba(20, 126, 130, 0.78) 0px 0px 35px ;
}
button{
	color: white;
	margin-top: 15px;
	width: 180px;
	height: 35px;
	border-radius: 7px;
	background-color: rgb(52, 58, 82);
	position: relative;
	overflow: hidden;
}

button:hover{
	cursor: pointer;
	opacity: 0.8;
	background-color: rgba(64, 150, 153, 0.84);
	
}
button:hover:before {
 left: 200px;
 transition: .5s ease-in-out;
} 
button:before {
	 content: "";
	 position: absolute;
	 top: -8px;
	 left: -75px;
	 height: 50px;
	 width: 50px;
	 background: linear-gradient(90deg, rgba(252, 210, 0,.1), rgba(252, 210, 0,.5));
	 transform: skewX(-45deg);
}

	/*Верхняя панель*/
.top{
	text-decoration: none;
	width: 100%;
	height: 61px;
	display: inline-block;
	background-image: url(img/top/topper.png);
	/*background: red;*/
	background-size: 102% 100%;

}
.top a{
	margin-top: 10px;
	font-size: 1.6em;
	text-decoration: none;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-style: italic;
}
.TopRight{
	margin-right: 8%;
	float: right;
}
.TopLeft{
	float: left;
	margin-left: 8%;
}
.topImg{
	width: 200px;
	height: 200px;
	margin-top: 5px;
	margin-left: 14.7%;

}
	
	/*Блок с кнопкой*/
.BorderContent{
	padding-top: 140px;
	margin: 2%;
	border: 3px solid rgba(212, 212, 212, 0.9);
	height: 55%;
	text-align: center;
}
.BorderContent h1 {
	color: black;
	font-size: 2.4em;
}
.BorderContent h2 {
	color: black;
}
.BorderContent p{
	font-size: 1.4em;
	margin: 10%;
	display: inline;
	/*text-decoration: overline;*/
	text-decoration: underline;
}

.centrButton{
	margin-left: 2%;
	height: 45px;
	margin-top: 50px;
	font-size: 1.2em;
	padding: 12px;
	border-radius: 20px;
	text-decoration: none;
	cursor: auto;
	background: rgba(0, 220, 255, 0.82);
	color: rgb(0, 43, 255);
	border: 2px solid gold;
}
.centrButton:hover{
	background: rgb(214, 255, 0);
	color: grey;
}

	/*Блоки со статьями*/
#Content{
	text-align: center;
	width: 99.7%;
	height: 110%;
	background: rgba(202, 208, 214, 0.34);
	border: 2px solid silver;
}
.block{
	background-color: rgba(68, 75, 95, 0.85);
	float: left;
	padding: 0px;
	display: inline-block;
	/*margin-top: 50px;*/
	margin: 3%;
	width: 42%;
	height: 400px;
	border: 3px solid grey;
	border-radius: 3px 0px 10px 35px;
}
.block img{
	/*filter: blur(5px);*/
	padding: 0;
	width: 100%;
	height: 260px;
	order-bottom: 4px solid rgba(22, 180, 255, 0.85);
}
.block h3{
	padding-left: 10px;
	color:rgb(105, 185, 182);
}
.block h4{
	padding-left: 10px;
	color: #879cef;
}

/*Футер*/
footer{
	background: rgba(53, 61, 82, 0.91);
	padding: 1%;
	border-top: 2px solid rgba(28, 41, 46, 0.88);
	padding-bottom: 2%;
	height: 50px;	
	/*opacity: 0.9;*/
}
footer img{
	float: right;
	width: 40px;
	height: 40px;
	opacity: 1;
	padding-right: 10px;
}
footer p{
	font-size: 1.2em;
	float: left;
	color: #819eb3;
}
#shizo{
	width: 260px;
}

	/*Вход регистрация*/
.avtor{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 27.8%;
	width: 40%;
	height: 200px;
	background-image: url(img/back/ifon.jpg);
	margin-top: 200px;
	padding-top: 50PX;
	border-radius: 7px 7px 10px 30px;
	text-align: center;
	border: 2px solid silver;
}

	/*Регистрация*/
.register{
	margin-left: auto;
	margin-right: auto;
	margin-top: 200px;
	margin-bottom: 24%;
	text-align: center;
	width: 40%;
	position: hidden;
	height: 250px;	
	border-radius: 7px 7px 10px 30px;
	/*background-color: rgba(74, 75, 77, 0.84);*/
	background-image: url(img/back/ifon.jpg);
	border: 2px solid silver;
	padding-top: 50PX;
}
.register-input{
	padding: 5px;
	width: 240px;
	height: 40px;
	border-radius: 4px;
	margin: 3px;
}
#v{
	width: 100px;
}
.back-tree{
	background-image: url(img/back/tree.jpg);
	background-size: contain;
	width: 75%;
	margin: auto;
}

	/*Таймер*/
#text{
	display: none;
}
#timeBlock{
	width: 500px;
	height: 40px;
	margin: auto;
	text-align: center;
	color: white;
	font-size: 1.3em;
}

#call{
	position: fixed;
	width: 70px;
	height: 70px;
	border-radius: 20%;
	margin-left: 92%;
	margin-top: 48%;
	background-color: white;
	background-image: url(img/content/covert.png);
	background-size: contain;
}

.Form{
	position: fixed;
	width: 200px;
	height: 290px;
	border-radius: 5px;
	margin-left: 88%;
	margin-top: 32%;
	text-align: center;
	border: 2px solid grey;
	font-size: 1em;
}
#massage{
	height: 90px;
}
#exit{
	float: right;
	display: inline-block;
	margin-top: -16;
	padding: 2px;
    background: #343a52;
    color: white;
    cursor: pointer;
}